.game-area{
  position: relative;
  margin: 50px auto;
  width: 500px;
  height: 500px;
  border: 2px solid #000;
}

.snake-dot{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000;
  border: 1px solid #fff;
  z-index: 2;
}

.snake-food{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #f00;
  border: 1px solid #fff;
  z-index: 1;
}
